<div class="input-wrapper mb-4 mt-4 p-4">
  <!-- Input search -->
  <div class="search-wrapper grid grid-cols-1 md:grid-cols-2 items-center justify-items-center w-full">
    <div class="input-wrapper p-4 relative w-full md:w-[50%]">
      <ion-input [(ngModel)]="searchTerm" placeholder="Search by name" (ngModelChange)="onSearchTermChange()"
        (keydown.enter)="filterByName()">
      </ion-input>
      <span class="absolute top-1/2 right-4 transform -translate-y-1/2 z-10 cursor-pointer" (click)="filterByName()">
        <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
      </span>
    </div>

    <!-- Ion Select to choose the type of sorting -->
    <div class="sortBy-wrapper w-full md:w-[50%] relative">
      <ion-item class="p-4">
        <ion-label class="w-[1rem]">Sort by:</ion-label>
        <ion-select [(ngModel)]="selectedOrder" interface="popover" (ionChange)="applySort()">
          <ion-select-option value="az">A-Z</ion-select-option>
          <ion-select-option value="za">Z-A</ion-select-option>
          <ion-select-option value="original-order">Original order</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
  </div>

  <!-- Pokemon List -->
  <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6 gap-4 justify-items-center">
    <ion-card *ngFor="let pokemon of pokemonList" (click)="goToDetailPage(pokemon)"
      class="w-[80%] md:w-[15rem] cursor-pointer hover:scale-105 transition-all duration-300">
      <div class="flex justify-between items-center p-4">
        <span class="text-1xl">#{{ pokemon.id }}</span>
        <fa-icon class="text-2xl z-20" [ngClass]="{'text-red-500': favoritePokemons.includes(pokemon.id)}" [icon]="faStar"
          (click)="onStarClick($event, pokemon)"></fa-icon>
      </div>
      <div class="image-wrapper w-full text-center">
        <img *ngIf="pokemon.id" [alt]="pokemon.name" class="w-full h-68 pt-8 object-cover"
          [src]="getPokemonImage(pokemon)" />
      </div>
      <ion-card-header>
        <ion-card-title>{{ pokemon.name }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p *ngFor="let type of pokemon.types" class="text-white py-2 px-4 rounded-md inline-block !mr-4"
          [ngStyle]="{'background-color': typeColors[type.type.name]}">
          <span>{{ type.type.name }}</span>
        </p>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Pagination button -->
  <div class="button-wrapper w-full justify-items-center text-center mt-8">
    <ion-button (click)="loadNextPage()" [disabled]="loading">
      {{ loading ? 'Carregando...' : 'Carregar mais' }}
    </ion-button>
  </div>